<h1>Todo App</h1>
<form [formGroup]="todoForm">
  <div class="form-group registItemArea">
    <div class="input-group">
      <input id="title" class="form-control" placeholder="Title" formControlName="title" />
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" (click)="hasDetail = !hasDetail">詳細</button>
      </span>
    </div>
  </div>

  <!-- 詳細 -->
  <div class="card card-block card-header" [collapse]="!hasDetail">
    <div class="form-group">
      <label for="description">
        <strong>詳細:</strong>
      </label>
      <textarea id="text" class="form-control" formControlName="description"></textarea>
    </div>

    <div class="form-group">
      <label for="date">
        <strong>日付:</strong>
      </label>
      <input type="date" class="form-control" formControlName="date" />
    </div>
  </div>
</form>

<div class=" row ">
  <div class="col-2 ">
    <button class="createBtn btn btn-success " [disabled]="this.todoForm.invalid" (click)="onSaveTodoItem()">作成</button>
  </div>
</div>
<hr>

<!-- todoリスト表示 -->
<div class="col-12 itemListArea ">
  <div *ngFor="let item of itemList; let i=index;">

    <div class="row border itme-header">
      <label class="col-1 custom-control custom-checkbox">
        <input class="custom-control-input" type="checkbox" [(ngModel)]="item.isComplete">
        <span class="custom-control-indicator"></span>
      </label>
      <div class="col-10  title" (click)="header.isOpend = !header.isOpend" [class.isComplete]="item.isComplete" isOpend="false"
        #header>
        {{item.title}}
      </div>
      <button type="button" class="close col-1" aria-label="Close" (click)="onDeleteItem(item)">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="row border" *ngIf="header.isOpend">
      <div class="col-12">
        <strong>詳細：</strong>
        <pre>{{item.description ? item.description : "-"}}</pre>
      </div>
      <div class="col-12">
        <strong>日付：</strong>
        <span>{{item.date ? item.date : "-"}}</span>
      </div>
    </div>

  </div>
</div>
